@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  img {
    object-fit: cover;
  }
  .tooltip-down-right {
    margin: 10px 0;
    background: #000;
    color: #fff;
    position: relative;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20);
    z-index: 10000!important;
  }
  .tooltip-down-right::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: -15px;
    left: 80%;
    transform: translateX(-50%);
  }
  .tooltip-left {
    margin: 10px 0;
    background: #000;
    color: #fff;
    position: relative;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20);
    z-index: 10000!important;
  }
  .tooltip-left::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
  }
  .spinner {
    border-style: solid;
    border-width: 5px;
    border-color: #eee;
    border-top-color: #3b82f6;
    background: transparent;
  }
}